.about-container {
  background-image: url("../../images/aboutBackground.jpg");
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.inner-about-container {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sh {
  width: 100px;
  opacity: 0;
  transition: opacity 3s;
}

.sh:hover {
  opacity: 100%;
}

.about-description {
  font-size: 1.1rem;
  font-weight: 550;
  color: black;
  margin-top: 6rem;
  letter-spacing: 0.2rem;
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .h2Label {
    margin-top: 100px;
  }

  p {
    font-size: 16px;
  }

  .about-description {
    max-width: 70%;
    width: 70%;
    font-size: 0.9rem !important;
    font-weight: 550;
  }
}
