.audio-body-apod {
  overflow-x: hidden;
}

.audio-small-image {
  padding-top: 70px;
}

.audio-body-apod img {
  width: 100%;
}

.audio-title,
.audio-date,
.audio-photographer {
  flex: 1;
}

.audio-date {
  font-size: 1.6rem;
}

.audio-title {
  letter-spacing: 0.3rem;
  font-size: 1.8rem;
  margin-left: 90px;
  padding-top: 40px;
  transition: transform 0.5s ease;
}

.audio-photographer {
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  margin-left: 60px;
}

.audio-title:hover {
  transform: scale(1.05, 1.05) translateX(30px);
}

.audio-explanation {
  letter-spacing: 0.1rem;
  padding-top: 60px;
  font-size: 1.2rem;
  margin-left: 50px;
  max-width: 1200px;
  font-weight: 500;
}

.audio-small-image {
  width: 300px !important;
}

.audio-main-image {
  margin-top: 10rem;
  height: 10vh;
  width: 10% !important;
}

.audio-info-apod {
  display: flex;
  margin: 0px 30px;
  flex-direction: column;
  text-align: center;
}

.audio-explanation {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding-top: 30px;
  font-size: 1rem;
  letter-spacing: 0.2;
  font-weight: 500;
}

.audio-title {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  padding-top: 40px 0px;
  margin: 0px 20px;
  font-size: 1.4rem !important;
}

.audio-photographer {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  font-size: 1.2rem !important;
}

.audio-small-image {
  width: 300px !important;
  padding-top: 30px;
}

.audio-date {
  font-size: 1.4rem !important;
  padding-top: 30px;
}
