.quotes-container {
  width: 100%;
}

.quotes-quote {
  letter-spacing: 0.15rem;
  font-size: 1.4em;
  font-style: italic;
  margin: 0rem 20px;
  padding-top: 2rem;
}

.quotes-author {
  letter-spacing: 0.1rem;
  font-size: 1.2em;
  font-style: italic;
  margin: 2rem 20px;
}
