.search-input {
  width: 500px;
  text-align: "center";
  height: 34px;
  margin-top: 1px;
}

.search-submit-button {
  letter-spacing: 0.1rem;
  height: 34.5px;
  background-color: "transparent";
  border: "1px solid gray";
}

.search-bar {
  padding-top: 2rem;
}
