.body-apod {
  overflow-x: hidden;
  padding-bottom: 20px;
}

.apod-loading-container {
  overflow-y: hidden;
}

.apod-loading-image {
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.small-image {
  padding-top: 70px;
}

.body-apod img {
  width: 100%;
}

.info-apod {
  display: grid;
  padding-top: 80px;
  margin: 0px 30px;
  grid-template-columns: 50% 50%;
}

.title,
.date,
.photographer {
  flex: 1;
}

.date {
  font-size: 1.6rem;
}

.title {
  letter-spacing: 0.3rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 90px;
  padding-top: 40px;
  transition: transform 0.5s ease;
}

.photographer {
  letter-spacing: 0.2rem;
  display: flex;
  font-size: 1.6rem;
  justify-content: flex-start;
  margin-left: 60px;
}

.title:hover {
  transform: scale(1.05, 1.05) translateX(30px);
}

.explanation {
  letter-spacing: 0.1rem;
  display: flex;
  padding-top: 60px;
  font-size: 1.2rem;
  justify-content: flex-start;
  margin-left: 50px;
  max-width: 600px;
  font-weight: 500;
}

.small-image {
  width: 300px !important;
}

.main-image {
  height: 100vh;
}

@media only screen and (max-width: 700px) {
  .info-apod {
    display: flex;
    margin: 0px 30px;
    flex-direction: column;
    text-align: center;
  }

  .explanation {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    padding-top: 30px;
    font-size: 1rem;
    letter-spacing: 0.2;
    font-weight: 500;
  }

  .title {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    padding-top: 40px 0px;
    margin: 0px 20px;
    font-size: 1.4rem !important;
  }

  .photographer {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    font-size: 1.2rem !important;
  }

  .small-image {
    width: 300px !important;
    padding-top: 30px;
  }

  .date {
    font-size: 1.4rem !important;
    padding-top: 30px;
  }
}
